.collection-hero {
  min-height: 370px;
  background: linear-gradient(rgba(35,25,20,.38),rgba(35,25,20,.38)), url('img/WowenCollection.png') center/cover;
  display:flex; 
  align-items:center; 
  padding:50px 90px;
}

.collection-hero h1{
    color: #111;
    text-shadow: 2px 2px 4px #a98e80;
    font-size:3.5rem; 
    line-height:1.05; 
    margin-bottom:15px;
    max-width:650px;
}
.collection-hero p {
    color: #372314;
    font-family:Arial,sans-serif; 
    font-size:1rem; 
    line-height:1.6; 
}
.eyebrow { 
    font-family:Arial,sans-serif; 
    font-size:.72rem; 
    letter-spacing:3px; 
    font-weight:600; 
    margin-bottom:12px; 
}

.collection { 
    padding:40px 80px; 
}
.collection-heading { 
    display:flex; 
    justify-content:space-between; 
    align-items:end; 
    margin-bottom:22px; 
}
.collection-heading h2 { 
    font-size:2rem; 
    margin-top:4px; 
}

.category-filter { 
    display:flex; 
    flex-wrap:wrap; 
    gap:10px; 
    margin-bottom:30px; 
}
.category-filter .btn{
  border:1px solid #c8bdb4;
  background:#fff; 
  color:#51341e;
  font-weight: 540;
  padding:9px 18px; 
  border-radius:22px; 
  cursor:pointer; 
  font-family:Arial,sans-serif;
}
.category-filter .btn:hover{ 
    background:#51341e; 
    color:#fff; 
}

.collection-layout { 
    display:grid; 
    grid-template-columns:190px 1fr; 
    gap:28px; 
}
.filter-box { 
    background:#fff; 
    padding:22px; 
    height:max-content; 
}
.filter-box h3 { 
    margin-bottom:20px; 
    font-size:1.15rem; 
}
.filter-box p { 
    font-family:Arial,sans-serif; 
    font-weight:700; 
    font-size:.8rem; 
    margin:20px 0 8px; 
    text-transform:uppercase; 
    letter-spacing:1px; 
    color:#8B6F5A; 
}
.filter-box a { 
    display:block; 
    font-family:Arial,sans-serif; 
    color:#444; 
    padding:6px 0; 
    font-size:.9rem; 
}
.filter-box a:hover { 
    color:#51341e; 
}


.page-footer {
    background:#171514; 
    color:#eee;
    display:grid; 
    grid-template-columns:1.4fr 1fr 1fr 1.5fr; 
    gap:35px; 
    padding:45px 7%; 
}

.page-footer > div { 
    display:flex; 
    flex-direction:column; 
    gap:7px; 
}
.page-footer h3 { 
    font:600 .85rem Arial,sans-serif; 
    margin-bottom:8px; 
}
.page-footer p,.page-footer a { 
    color:#bbb; 
    font: .75rem Arial,sans-serif; 
}
.page-footer a:hover { color:#fff; }

.footer-logo { 
    width:110px; 
    filter:brightness(0) invert(1); 
}
.footer-socials { 
    display:flex; 
    gap:14px; 
    margin-top:8px; 
    font-size:18px; 
}
.copyright { 
    background:#111; 
    color:#888; 
    text-align:center; 
    padding:15px; 
    font: .7rem Arial,sans-serif; 
}